{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% block sonata_sidebar_search %}
{% endblock %}

{% block sonata_top_nav_menu %}
    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
            {% block sonata_top_nav_menu_user_block %}
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-user-circle hidden-xs icon" aria-hidden="true"></i>
                        <span class="widget-user-username text-red">
                                {{ app.user }}
                            </span>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        {% include sonata_admin.adminPool.getTemplate('user_block') %}
                    </ul>
                </li>
            {% endblock %}
        </ul>
    </div>
{% endblock %}